[submodule "vendor/ChibiOS"]
	path = vendor/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS
[submodule "tools/gen-board.h"]
	path = tools/gen-board.h
	url = https://github.com/wispacerace/gen-board.h
[submodule "vendor/littlefs"]
	path = vendor/littlefs
	url = https://github.com/ARMmbed/littlefs
