[submodule "vendor/ChibiOS"]
	path = vendor/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS
[submodule "tools/gen-board.h"]
	path = tools/gen-board.h
	url = https://github.com/HarkonenBade/gen-board.h
